If:
  PathMatch: .*\.(cu|cuh|h|hpp)

CompileFlags:
  Remove:
    - -Xcompiler
    - -rdc=true
    - -gencode
    - arch=compute_*,code=sm_*
    - -G
  Add:
    - "--cuda-path=C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v13.3"
    - --cuda-gpu-arch=sm_86
