If:
  PathMatch: .*\.cu

CompileFlags:
  Remove:
    - -Xcompiler
    - -rdc=true
    - -gencode
    - arch=compute_*,code=sm_*
    - -G
  Add:
    - --cuda-path=/opt/cuda
    - --cuda-gpu-arch=sm_86
